html {
  font-family: 'Cormorant', serif;
}

footer a {
  margin-right: 40px;
  font-size: 2em;
  text-decoration: none;
  color: #273c75;
}

#description a {
  text-decoration: none;
  color: #273c75;
}

#description a:hover {
  text-decoration: none;
  color: #192a56;
}
/*
#description h1 {
  display: inline-block;
}
*/

h1 {
  font-size: 4em;
}

p {
  margin-right: 80px;
  font-size: 3em;
}

body {
  margin: 40px 0 0 70px;
}

hr {
  margin: 50px 60px 50px 5px;
}

footer a:hover {
  text-decoration: none;
  color: #192a56;
}

#dolphin {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
																supported by Chrome and Opera */
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
